<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}

            {% endblock %}
    </title>
    <link rel="stylesheet" href="../static/style.css">
</head>

<body>
<div class="menu-horizontal">
 <ul>
    <li><a href="/"> Home</a></li>
    <li><a href="/scrum">O que é Scrum</a></li>
    <li><a href="/equipe.scrum">Equipe Scrum</a></li>
    <li><a href="/pilares">Pilares  Scrum</a></li>
    <li><a href="/ferramentas">Ferramentas Scrum</a></li>
    <li><a href="/dowloads">Dowloads</a></li>
 </ul>   
</div>
    {% block corpo %}


    {% endblock %}

</body>
</html>