<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Francois+One&family=Luckiest+Guy&display=swap" rel="stylesheet">

    <link rel="stylesheet" href="../static/css/style.css">
    <link rel="stylesheet" href="../static/css/normalize.css">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dowloads</title>
</head>
<body class="geral">
    <header id="header">
        <nav class="navbar bg-body-tertiary">
            <div class="container-fluid">
              <a class="logo" href="#">
                <ion-icon name="home"></ion-icon>&nbsp&nbspEasy Scrum
              </a>
            </div>
        </nav>
        <ul class="principal">
            <li><a href="../Templates/index.html">Home</a></li>
            <li><a href="../Templates/index.html#Oqueé">O que é?</a></li>
            <li><a href="../Templates/equipe.html">Equipe Scrum</a></li>
            <li><a href="../Templates/pilares.html">Pilares</a></li>
            <li><a href="../Templates/ferramentas.html">Ferramentas</a>
                <ul class="submenu">
                    <li><a href="../Templates/ferramentas.html#artefatos">Artefatos</a></li>
                    <hr>
                    <li><a href="../Templates/ferramentas.html#backlog">Backlog do Produto</a></li>
                    <hr>
                    <li><a href="../Templates/ferramentas.html#sprintbacklog">Sprint Backlog</a></li>
                    <hr>
                    <li><a href="../Templates/ferramentas.html#burndown">Burndown</a></li>
                </ul>
            
            </li>
            <li><a href="../Templates/download.html" class="active">Na Prática</a></li>
        </ul>
    </header>

    <div class="sec">
        <div id="carouselExample" class="carousel slide">
            <div class="carousel-inner">
              <div class="carousel-item active">
                <img src="../static/imagens/slide_productbacklog.png" class="d-block w-100" width="400px" alt="...">
              </div>
              <div class="carousel-item">
                <img src="..." class="d-block w-100" alt="...">
              </div>
              <div class="carousel-item">
                <img src="..." class="d-block w-100" alt="...">
              </div>
            </div>
            <button class="carousel-control-prev" type="button" data-bs-target="#carouselExample" data-bs-slide="prev">
              <span class="carousel-control-prev-icon" aria-hidden="true"></span>
              <span class="visually-hidden">Previous</span>
            </button>
            <button class="carousel-control-next" type="button" data-bs-target="#carouselExample" data-bs-slide="next">
              <span class="carousel-control-next-icon" aria-hidden="true"></span>
              <span class="visually-hidden">Next</span>
            </button>
          </div>
        <h2 class="sec">Em desenvolvimento...</h2>
        <i class="fa-solid fa-cog fa-spin"></i>
        <img src="../static/imagens/estudando.png" alt="em desenvolvimento"> 
    </div>

    <script type="module" src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.esm.js"></script>
    <script nomodule src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.js"></script>

</body>
</html>