<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Francois+One&family=Luckiest+Guy&display=swap" rel="stylesheet">

    <link rel="stylesheet" href="../static/css/style.css">
    <link rel="stylesheet" href="../static/css/normalize.css">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
</head>
<body class="geral">
    <header id="header">
        <nav class="navbar bg-body-tertiary">
            <div class="container-fluid">
              <a class="logo" href="#">
                <ion-icon name="home"></ion-icon>&nbsp&nbspEasy Scrum
              </a>
            </div>
        </nav>
        <ul class="principal">
            <li><a href="../Templates/index.html">Home</a></li>
            <li><a href="../Templates/index.html#Oqueé">O que é?</a></li>
            <li><a href="../Templates/equipe.html" class="active">Equipe Scrum</a></li>
            <li><a href="../Templates/pilares.html">Pilares</a></li>
            <li><a href="../Templates/ferramentas.html">Ferramentas</a>
                <ul class="submenu">
                    <li><a href="../Templates/ferramentas.html#artefatos">Artefatos</a></li>
                    <hr>
                    <li><a href="../Templates/ferramentas.html#backlog">Backlog do Produto</a></li>
                    <hr>
                    <li><a href="../Templates/ferramentas.html#sprintbacklog">Sprint Backlog</a></li>
                    <hr>
                    <li><a href="../Templates/ferramentas.html#burndown">Burndown</a></li>
                </ul>
            
            </li>
            <li><a href="../Templates/na-pratica.html">Na Prática</a></li>
        </ul>
    </header>

    <div class="sec">
        <br><br><br><br><br><br><br><br>
        <h2>Product Owner:</h2> 
        <p>Dono do projeto e líder do processo como um todo,
        toma as decisões e avalia os recursos, ele também define o esperado de
        cada membro e o objetivo do projeto!</p>
        <img src="../static/imagens/productowner.png" alt="productowner" width="800" height="600">
        <br><br><br><br><br>
        <h2>Scrum Master:</h2> 
        <p>Auxilia a equipe na solução de problemas, por conhecer
        bem sobre o funcionamento do Scrum é uma função importantíssima
        dentro do projeto afastando tudo aquilo que pode atrapalhar o
        desenvolvimento das sprints do projeto!</p>
        <img src="../static/imagens/scrummaster.png" alt="scrummaster" width="500" height="500">
        <br><br><br><br><br>
        <h2>Time Scrum:</h2> 
        <p>São todos aqueles que desenvolvem o projeto, atuando em
        colaboração e sempre se autogerenciando a respeito de atividades e
        metas do projeto!</p>
        <img src="../static/imagens/scrumteam.png" alt="time" width="700" height="500">

        <a href="../Templates/pilares.html" id="btn"><ion-icon name="arrow-forward-outline"></ion-icon>Flutue para a Pilares<ion-icon name="arrow-forward-outline"></ion-icon></a>
        <br><br><br><br><br>
    </div>

    <script type="module" src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.esm.js"></script>
    <script nomodule src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.js"></script>

    <div id="footer">
        <br><br><br>
        © 2023 &nbsp Todos Direitos Reservados
        <br>
        <br>
        Produzido por &lt;Code 6 Wave&gt;
        <br><br><br>
    </div>
    
</body>
</html>