<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Francois+One&family=Luckiest+Guy&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="../static/css/style.css">
    <link rel="stylesheet" href="../static/css/normalize.css">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
</head>
<body class="geral">
    <header id="header">
        <nav class="navbar fixed-top bg-body-tertiary">
            <div class="container-fluid">
              <a class="logo" href="#">
                <ion-icon name="home"></ion-icon>&nbsp&nbspEasy Scrum
              </a>
            </div>
        </nav>
        <ul class="principal">
            <li><a href="/">Home</a></li>
            <li><a href="/#Oqueé">O que é?</a></li>
            <li><a href="equipe">Equipe Scrum</a></li>
            <li><a href="/pilares">Pilares</a></li>
            <li><a href="/ferramentas" class="active">Ferramentas</a>
                <ul class="submenu">
                    <li><a href="/ferramentas#artefatos">Artefatos</a></li>
                    <hr>
                    <li><a href="/ferramentas#backlog">Backlog do Produto</a></li>
                    <hr>
                    <li><a href="/ferramentas#sprintbacklog">Sprint Backlog</a></li>
                    <hr>
                    <li><a href="/ferramentas#burndown">Burndown</a></li>
                </ul>
            
            </li>
            <li><a href="/napratica">Na Prática</a></li>
        </ul>
    </header>
    <br><br><br><br>
    <div class="sec">
        <div id="artefatos">
        <h2>Artefatos do Scrum</h2>
            <p>
            O Incremento é o resultado do trabalho da equipe Scrum em uma Sprint e deve seguir a Definição de Pronto para se tornar utilizável. A Definição de Pronto garante a qualidade do Incremento e pode ser adaptada de acordo com as necessidades da equipe.</p>
            <img src="../static/imagens/Artefatos.png" alt="artefatos">
            <br><br><br><br><br><br>
        </div>    
        <div id="backlog">
            <h2>Backlog do produto (Product Backlog)</h2>
            <p>
            O Product Backlog é um conjunto de requisitos para desenvolver um produto, atualizado conforme a demanda do cliente, e gerenciado pelo Product Owner em colaboração com o Scrum Team.
            </p>
            <img src="../static/imagens/backlog2.png" alt="backlog" width="300px"  height=300px>
            <br><br><br><br><br><br>
        </div>
        <div id="sprintbacklog">

            <h2>O que é Sprint Backlog?</h2>
           <p>
            É uma lista de atividades a serem realizadas durante o Sprint e é construído a partir do Product Backlog, que contém todas as funcionalidades necessárias para o produto. A equipe alinha as prioridades junto ao Product Owner e a percepção de tempo que cada etapa vai consumir. 
            </p>
            <br><br>
            <img src="../static/imagens/Sprint backlog.png" alt="sprintbacklog">
        </div>
        <div id="burndown">
            <h2>O que é Burndown?</h2>
            <p>É um grafico que usa as estimativas de esforço(tempo) feitas para as atividades do Sprint Backlog , por ele pode ser feito o acompanhamento da produtividade no dia a dia.
                Ele consiste basicamente disso:
                <br>
                <ul>
                    <li>
                    1- O eixo Y (vertical) é o somatório das estimativas de esforço do Sprint;
                    </li>
                    <br>
                    <li>
                    2- No eixo (x) é o somatório dos dias trabalhados;
                    </li>
                    <br>
                    <li>
                    3- É traçada uma linha reta ligando os dois pontos que representa a meta diária de avanço;
                    </li>
                    <br>
                    <li>
                    4- Dia a dia verifica-se com a equipe as atividades que estão prontas e se marca no gráfico a quantidade de esforço restante até o fim;
                    </li>
                    <br>
                    <li>
                    5- A meta é chegar a zero no final do Sprint.
                    </li>
            </ul>
            </p>
            <img src="../static/imagens/burndown.jpg" alt="burndown">      
        </div>

        <a href="/napratica" id="btn"><ion-icon name="arrow-forward-outline"></ion-icon>Flutue para a Prática<ion-icon name="arrow-forward-outline"></ion-icon></a>
        <br><br><br><br><br><br><br><br>
    </div>

        <div id="footer">
            <br><br><br>
            © 2023 &nbsp Todos Direitos Reservados
            <br>
            <br>
            Produzido por &lt;Code 6 Wave&gt;
            <br><br><br>
        </div>



    <script type="module" src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.esm.js"></script>
    <script nomodule src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.js"></script>
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>

</body>
</html>
 