<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Francois+One&family=Luckiest+Guy&display=swap" rel="stylesheet">

    <link rel="stylesheet" href="../static/css/style.css">
    <link rel="stylesheet" href="../static/css/normalize.css">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
</head>
<body class="geral">
    <header id="header">
        
            <a href="#" class="logo"><ion-icon name="home"></ion-icon>&nbsp&nbspEasy Scrum</a>
        <ul>
            <li><a href="../Templates/index.html">Home</a></li>
            <li><a href="../Templates/index.html#Oqueé">O que é?</a></li>
            <li><a href="../Templates/equipe.html">Equipe Scrum</a></li>
            <li><a href="../Templates/pilares.html">Pilares</a></li>
            <li><a href="../Templates/ferramentas.html" class="active">Ferramentas</a></li>
            <li><a href="../Templates/download.html">Na Prática</a></li>
        </ul>
    </header>
    <br><br><br><br>
    <div class="sec">
        <div class="artefatos">
        <h2>Artefatos do Scrum</h2>
            <p>
            O Incremento é o resultado do trabalho da equipe Scrum em uma Sprint e deve seguir a Definição de Pronto para se tornar utilizável. A Definição de Pronto garante a qualidade do Incremento e pode ser adaptada de acordo com as necessidades da equipe.</p>
            <img src="../static/imagens/Artefatos.png" alt="artefatos">
            <br><br><br><br>
        </div>    
        <div class="backlog">
            <h2>Backlog do produto (Product Backlog)</h2>
            <p>
            O Product Backlog é um conjunto de requisitos para desenvolver um produto, atualizado conforme a demanda do cliente, e gerenciado pelo Product Owner em colaboração com o Scrum Team.
            </p>
            <img src="../static/imagens/backlog2.png" alt="backlog" width="300px"  height=300px>
            <br><br><br><br>
        </div>
        <div class="sprint backlog">

            <h2>O que é Sprint Backlog?</h2>
           <p>
            É uma lista de atividades a serem realizadas durante o Sprint e é construído a partir do Product Backlog, que contém todas as funcionalidades necessárias para o produto. A equipe alinha as prioridades junto ao Product Owner e a percepção de tempo que cada etapa vai consumir. 
            </p>
            <br><br>
            <h3>Como implementar o Sprint Backlog?</h3>
            <p>O Sprint Backlog é definido em uma reunião de planejamento, essencial, denominada planning. Durante o Sprint, o Scrum Master facilita as entregas, conduz as reuniões e ajuda a equipe a melhorar a produtividade, e o progresso pode ser acompanhado através do gráfico burndown.</p>
            <img src="../static/imagens/Sprint backlog.png" alt="sprint backlog">
            <br><br><br><br>
        </div>
        <div class="burndown">
            <h2>O que é Burndown?</h2>
            <p>É um grafico que usa as estimativas de esforço(tempo) feitas para as atividades do Sprint Backlog , por ele pode ser feito o acompanhamento da produtividade no dia a dia.
                Ele consiste basicamente disso:
                <br><br>
                <ul class="comofunciona">
                    <li>
                    1- O eixo Y (vertical) é o somatório das estimativas de esforço do Sprint;
                    </li>
                    <br>
                    <li>
                    2- No eixo (x) é o somatório dos dias trabalhados;
                    </li>
                    <br>
                    <li>
                    3- É traçada uma linha reta ligando os dois pontos que representa a meta diária de avanço;
                    </li>
                    <br>
                    <li>
                    4- Dia a dia verifica-se com a equipe as atividades que estão prontas e se marca no gráfico a quantidade de esforço restante até o fim;
                    </li>
                    <br>
                    <li>
                    5- A meta é chegar a zero no final do Sprint.
                    </li>
            </ul>
            </p>
            <br><br>
            <img src="../static/imagens/burndown.jpg" alt="burndown">      
        </div>
        
        <a href="../Templates/download.html" id="btn"><ion-icon name="arrow-forward-outline"></ion-icon>Flutue para a Prática<ion-icon name="arrow-forward-outline"></ion-icon></a>
        <br><br><br><br><br><br><br><br>
    </div>

    <script type="module" src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.esm.js"></script>
    <script nomodule src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.js"></script>


</body>
</html>