
 {% extends 'base.html'%}

 {% block title %}
  Home
 {% endblock %}

 {% block corpo %}


<div class="container">
=======

    <ul class="menu">
        <div class="toggle"><ion-icon name="add-outline"></ion-icon></div>

        <li style="--i:0;--clr:#ff2972;">
            <a href="index.html"><ion-icon name="home-outline"></ion-icon></a>
        </li>
        <li style="--i:1;--clr:#ff00ea;">
            <a href="acessos_menu/contato.html"><ion-icon name="person-outline"></ion-icon></a>
        </li>
        <li style="--i:2;--clr:#29ff4d;">
            <a href="acessos_menu/configurações.html"><ion-icon name="settings-outline"></ion-icon></a>
        </li>
        <li style="--i:3;--clr:#ff2929;">
            <a href="#"><ion-icon name="mail-outline"></ion-icon></a>
        </li>
        <li style="--i:4;--clr:#01eeff;">
            <a href="#"><ion-icon name="extension-puzzle-outline"></ion-icon></a>
        </li>
        <li style="--i:5;--clr:#003cff;">
            <a href="#"><ion-icon name="videocam-outline"></ion-icon></a>
        </li>
        <li style="--i:6;--clr:#ffa600;">
            <a href="#"><ion-icon name="accessibility-outline"></ion-icon></a>
        </li>
        <li style="--i:7;--clr:#e5ff00;">
            <a href="acessos_menu/video.html"><ion-icon name="camera-outline"></ion-icon></a>
        </li>
    </ul>

    <script type="module" src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.esm.js"></script>
    <script nomodule src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.js"></script>
	<script>
        let toggle = document.querySelector('.toggle');
        let menu = document.querySelector('.menu');
        toggle.onclick = function(){
            menu.classList.toggle('active');
        }
    </script>
</div>
{% endblock %}   
