<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Francois+One&family=Luckiest+Guy&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">

    <link rel="stylesheet" href="../static/css/style.css">
    <link rel="stylesheet" href="../static/css/normalize.css">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dowloads</title>
</head>
<body class="geral">
    <header id="header">
        <nav class="navbar bg-body-tertiary">
            <div class="container-fluid">
              <a class="logo" href="#">
                <ion-icon name="home"></ion-icon>&nbsp&nbspEasy Scrum
              </a>
            </div>
        </nav>
        <ul class="principal">
            <li><a href="../Templates/index.html">Home</a></li>
            <li><a href="../Templates/index.html#Oqueé">O que é?</a></li>
            <li><a href="../Templates/equipe.html">Equipe Scrum</a></li>
            <li><a href="../Templates/pilares.html">Pilares</a></li>
            <li><a href="../Templates/ferramentas.html">Ferramentas</a>
                <ul class="submenu">
                    <li><a href="../Templates/ferramentas.html#artefatos">Artefatos</a></li>
                    <hr>
                    <li><a href="../Templates/ferramentas.html#backlog">Backlog do Produto</a></li>
                    <hr>
                    <li><a href="../Templates/ferramentas.html#sprintbacklog">Sprint Backlog</a></li>
                    <hr>
                    <li><a href="../Templates/ferramentas.html#burndown">Burndown</a></li>
                </ul>
            
            </li>
            <li><a href="../Templates/na-pratica.html" class="active">Na Prática</a></li>
        </ul>
    </header>
    <div class="sec">

    <div id="carouselExampleFade" class="carousel slide carousel-fade" data-ride="carousel">
      <div class="carousel-inner">
        
        <div class="carousel-item active ">
          <img class="d-block w-100" src="../static/imagens/1.png" alt="Segundo Slide">
        </div>
        <div class="carousel-item">
          <img class="d-block w-100" src="../static/imagens/2.png" alt="Terceiro Slide">
        </div>
        <div class="carousel-item">
          <img class="d-block w-100" src="../static/imagens/3.png" alt="Terceiro Slide">
        </div>
        <div class="carousel-item">
          <img class="d-block w-100" src="../static/imagens/4.png" alt="Terceiro Slide">
        </div>
      </div>
      <a class="carousel-control-prev" href="#carouselExampleFade" role="button " data-slide="prev ">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="sr-only">Anterior</span>
      </a>
      <a class="carousel-control-next  " href="#carouselExampleFade" role="button" data-slide="next">
        <span class="carousel-control-next " aria-hidden="true" ></span>
        <span class="sr-only">Próximo</span>
      </a>
  </div>

    <script type="module" src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.esm.js"></script>
    <script nomodule src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.js"></script>
    <script type="module" src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.esm.js"></script>
    <script nomodule src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.js"></script>
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>

</body>
</html>