<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="../static/css/style1.css">
    <title>Document</title>
</head>
<body>
    <div class="navigation">
        <div class="menuToggle">

        </div>
    </div>
    <script>
        let menuToggle = document.querySelector('.menuToggle');
        let navigation = document.querySelector('.navigation')
        menuToggle.onclick = function(){
            navigation.classList.toggle('active')
        }
    </script>


</body>
</html>